
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

body{
    background-color: black !important; 
    color: white !important;
}

/* Barra de navegación */

.margen-logo{
    margin-left: 10%;
}

.margen-menu{
    margin-right: 10%;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
}


/* Sección Quienes Somos */

.titulo{
    font-size: 28px;
    font-weight: 300;
}

.quienes-somos{
    text-align: center;
}

.hr-somos{
    background-color: deepskyblue;
    height: 1px;
}

.lorem-ipsum{
    text-align: left;
    font-size: 14px;
}

.iconos {
    background-color: deepskyblue;
    height: 2.5em;   
}

