
.inter {                                /* Tipografía seleccionada */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

body{                                   /* Define color del fondo y color del texto */
    background-color: black !important; 
    color: white !important;
}


/* Barra de navegación */

.margen-logo{     
    margin-left: 10%;
}

.margen-menu{ 
    margin-right: 10%;
}

.navbar {                               /* Define transparencia de navbar */
    background-color: rgba(0, 0, 0, 0);
}


/* Sección Quienes Somos */

.titulo{
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}


hr{
    background-color: deepskyblue;
    height: 1px;
}

.lorem-ipsum{
    text-align: left;
    font-size: 14px;
    font-weight: 300;
}

.iconos {
    background-color: deepskyblue;
    height: 2.5em;   
}


/* Destacados */

.card {
    text-align: left;
    color: white !important;
    background-color: deepskyblue !important; /*Tapa config standar de cards*/
    width: 16rem !important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 14px;
    font-weight: 300;
}

.card-title {
    font-size: 16px;
    font-weight: 400;
}

.tarjeta {
    height: 300px !important;
}

.img-tarjeta {
    border-top-left-radius: 0 !important;  /* Deja esquinas rectas, no curvas*/
    border-top-right-radius: 0 !important;
    width: 100%;
    height: 140px;
    object-fit: cover;
}


/* Contacto */

.contacto {
    font-size: 14px;
    font-weight: 300;
}

.btn {
    background-color: deepskyblue !important;
}

/* Pie de página */

footer {
    background-color: deepskyblue;
  
}

.pie {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 300;
    margin-left: 20%;
    margin-right: 20%;
}

.iconos {
    text-align: right;
}

.iconos a {                         /* Devuelve color blanco a iconos */
    color: white; 
    text-decoration: none; 
}

@media (max-width: 992px) {         /* Centra elementos del footer en version movil */
    .pie {
        margin: 0; 
        justify-content: center; 
        text-align: center; 
    }
    .iconos {
        text-align: center; 
    }
    /* Ectópico de sección Destacados*/
    .tarjeta {                    /* Centra tarjetas en versión movil*/  
        margin-left: auto;      
        margin-right: auto;
    }
}